<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--bootstarp은 jquary에 의존함. 따라서 jquary 먼저 호출-->
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>