<!DOCTYPE HTML> <!--css를 헤더에 전부 선언하여 js 처리 전 화면 먼저 구성-->
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body> <!--html은 head부터 실행되기 때문에 head에서 css 호출 완료 후 footer에서 js 호출 진행-->