{{>layout/header}} <!--현재 파일위치 기준 다른 파일 가져옴-->

<h1>스프링부트 웹 서비스 Ver.2</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a> <!--글 등록 페이지 이동 버튼, post/save로 이동-->
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/oauthorization/google" class="btn btn-success active" role="button">Goggle Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}<!-- posts 리스트를 순회한다 -->
            <tr>
                <td>{{id}}</td> <!-- posts 리스트 내부의 특정 필드를 사용함 -->
                <td><a href="/posts/update/{{id}}">{{title}}</a></td> <!--타이틀 클릭 시 해당 글 수정 화면으로 이동-->
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}